{% extends "plantilla.html" %}

{%  load static %}


{% block contenido %}

<form action="alta_articulos" method="POST">
    {% csrf_token %}

    <p>Código:</p>
    <input type="number" name="codigo" required>
    <p>Nombre:</p>
    <input type="text" name="nombre" required>
    <p>Descripcion:</p>
    <input type="text" name="descripcion" required>
    <p>Sección:</p>
    <input type="text" name="seccion" required>
    <p>Precio:</p>
    <input type="number" name="precio" required>
    <p>Stock:</p>
    <input type="number" name="stock" required>

    <input type="submit" value="Enviar">


</form>

{% endblock %}